* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(0, 0, 0);
}

.outer {
  width: 350px;
  margin: 20px 20px 40px;
  background-color: #308dc0;
}

.middle {
  background-color: #ffa500;
}

.inner {
  background-color: #ddd;
}

.block_style {
  border: 1px #e75551 solid;
  padding: 10px;
}
